@font-face {
	font-family: strawberries;
	src: url("fonts/strawberries.ttf");
}
@font-face {
	font-family: cupcakes;
	src: url("fonts/cupcakes.ttf");
}
@font-face {
	font-family: donuts;
	src: url("fonts/donuts.ttf");
}
body {
	background-image: url("images/strawberries.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	text-align: center;
	background-color: rgba(232,18,63,.7);
	padding-top: 30px;
	padding-bottom: 30px;
	border-radius: 10px;
	font-family: 'strawberries', sans-serif;
	font-size: 5rem;
}
img {
	float: right;
	width: 30px;
	height: 30px;
}

section {
	width: 500px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: rgba(156,156,156,.7);
	border-radius: 5px;
}
form {
	text-align: center;
}
input[type=text] {
	border-radius: 5px;
	height: 30px;
	font-size: 1.5rem;
	font-family: 'Schoolbell', cursive;
}
input[type=submit] {
	border-radius: 5px;
	font-size: 1.5rem;
	background-color: rgb(232,18,63);
	font-family: 'Schoolbell', cursive;
}
ul {
	width: 400px;
	margin: 30px auto 50px auto;
	padding-left: 0;
}
li {
	list-style: none;
	margin-bottom: 10px;
	font-size: 1.5rem;
	font-family: 'Schoolbell', cursive;
}
.strikethrough {
	text-decoration: line-through;
}
button {
	display: block;
	margin: 0 auto;
	border-radius: 5px;
	font-size: 1.5rem;
	background-color: rgb(232,18,63);
	font-family: 'Schoolbell', cursive;
}

@media screen and max-width: 500px {
	h1 {
		font-size: 3rem;
	}
	section {
		width: 350px;
	}
	li {
		width: 350px;
	}
}