@font-face {
	font-family: donuts;
	src: url("fonts/donuts.ttf");
}
body {
	background-image: url("images/donuts.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	text-align: center;
	background-color: rgba(62,130,255,.7);
	padding-top: 30px;
	padding-bottom: 30px;
	border-radius: 10px;
	font-family: 'donuts', sans-serif;
	font-size: 5rem;
}

section {
	width: 500px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: rgba(156,156,156,.7);
	border-radius: 5px;
}
#user-input {
	display: inline-block;
	margin-left: 75px;
    --webkit-appearance: none;
	border-radius: 5px;
	height: 30px;
	font-size: 1.5rem;
	font-family: 'Satisfy', cursive;
}
section #submit-button {
	border-radius: 5px;
	font-size: 1.5rem;
	background-color: rgb(62,130,255);
	font-family: 'Satisfy', cursive;
	display: inline-block;
	float: right;
	margin-right: 15px;
}
section #list {
	width: 400px;
	margin: 30px auto 50px auto;
	padding-left: 0;
}
section #list li {
	list-style: none;
	margin-bottom: 10px;
	font-size: 1.5rem;
	font-family: 'Satisfy', cursive;
	text-decoration: none;
}
section #list li i {
	float: right;
}
section #clear-all {
	display: block;
	margin: 0 auto;
	border-radius: 5px;
	font-size: 1.5rem;
	background-color: rgb(62,130,255);
	font-family: 'Satisfy', cursive;
}

@media screen and max-width: 500px {
	h1 {
		font-size: 3rem;
	}
	section {
		width: 350px;
	}
	li {
		width: 350px;
	}
}